<!DOCTYPE html>
<html>
<head>
    <title>MedMinder</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="title">MedMinder 💊</h1>
    <hr>
    <div class="welcome-text">
        <p>📅 Never miss a dose again!</p>
        <p>Join our community by signing up, or log in if you're already with us. 😊</p>
    </div>
    <div class="button-group">
        <button href='/login/'>Login</button>
        <button href='/signup/'>Signup</button>
    </div>
    <div class="quotes">
        <p>That old brain is not gonna remeber the medicin time</p>
        <p>Reminder: Your meds are more loyal than your ex</p>
        <p>One pill a day keeps the 'why am I like this' away.</p>
    </div>
</body>
</html>
